
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<form method="post">
    <table>
        <tr>
            <td><p>@ViewBag.Zapros</p></td>
        </tr>
        <tr>
            <td><p>Найдено: @ViewBag.Wiki.Count результатов</p></td>
            <td><p>@ViewBag.Time милисекунд</p></td>
        </tr>
        <tr>
            <td><input type="submit" value="Искать" href="/Home/Search/" /> </td>
            <td></td>
            <td><input type="text" name="TextRequest" /> </td>
            <td><p>Tf-Idf</p><input type="radio" name="TypeRequest" value="0"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td><p>Boolean</p><input type="radio" name="TypeRequest" value="1" /></td>
        </tr>
        @for (int i=1;i-1<ViewBag.Wiki.Count&&i-1<50;i++)
        {
            <tr>
                <td><p><a>@i</a><a>)    </a><a href="https://ru.wikipedia.org/wiki?curid=@ViewBag.Wiki[i-1].IdPage">@ViewBag.Wiki[i-1].NamePage</a></p></td>
            </tr>
            <tr>
                <td>  <p>@ViewBag.Wiki[i - 1].Sniped</p></td>
            </tr>
        }
    </table>
</form>

